@media screen and (max-width:420px){
    .content h1 span{
        font-size: 80px;
    }
    #contact input{
        width: 250px;
    }

    .home .img {
        flex: 1 1 200px;
    }
    
}